@using MonopolyGame.Interface.Controles;
@using MonopolyGame.Interface.PosseJogador;
@using MonopolyGame.Model.PossesJogador;
@using MonopolyPaperMario.Components.Stores;

<h2 class="m-0">@(ControlePartida.Troca_GetJogadorDestinatario().Nome) irá receber: </h2>
<ul class="m-0">
    @foreach (IPosseJogador posse in ControlePartida.Troca_GetPropostaTroca().PossesOfertadas)
    {
        <li>@posse.Nome</li>
    }
</ul>

@if (ControlePartida.Troca_GetJogadorProponente() != null)
{
    <h2 class="m-0">
        @(ControlePartida.Troca_GetJogadorProponente()?.Nome) irá receber:
    </h2>
    <ul class="m-0">
        @foreach (IPosseJogador posse in ControlePartida.Troca_GetPropostaTroca().PossesDesejadas)
        {
            <li>@posse.Nome</li>
        }
    </ul>
}

@if (ControlePartida.Troca_GetPropostaTroca().DinheiroOfertado > 0)
{
    @if (ControlePartida.Troca_GetJogadorProponente() != null)
    {
        <h2 class="m-0">@(ControlePartida.Troca_GetJogadorProponente()?.Nome) irá pagar: R$ @(ControlePartida.Troca_GetPropostaTroca().DinheiroOfertado)</h2>
    }
    <h2 class="m-0">@(ControlePartida.Troca_GetJogadorDestinatario().Nome) irá receber: R$ @(ControlePartida.Troca_GetPropostaTroca().DinheiroOfertado)</h2>
}
else
{
    <h2 class="m-0">@(ControlePartida.Troca_GetJogadorDestinatario().Nome) irá pagar: R$ @(-ControlePartida.Troca_GetPropostaTroca().DinheiroOfertado)</h2>
    @if (ControlePartida.Troca_GetJogadorProponente() != null)
    {
        <h2 class="m-0">@(ControlePartida.Troca_GetJogadorProponente()?.Nome) irá receber: R$ @(-ControlePartida.Troca_GetPropostaTroca().DinheiroOfertado)</h2>
    }
}

<h2 class="m-0 mt-2 mb-1 text-center">@(ControlePartida.Partida.EstadoTurnoAtual.PropostaTroca.Destinatario.Nome) você deseja:</h2>
<div class="d-flex justify-content-between">
    <button class="btn btn-primary mb-1"
            @onclick=HandleRecusar>
        Recusar
    </button>

    <button class="btn btn-primary mb-1"
            @onclick=HandleAceitar>
        Aceitar
    </button>
</div>

@code {
    private ControlePartidaStore ControlePartidaStore = ControlePartidaStore.GetInstance();
    private IControlePartida ControlePartida { get => ControlePartidaStore.ControlePartida; }

    protected override void OnInitialized()
    {
        ControlePartidaStore.OnStateChanged += StateHasChanged;
    }

    private void HandleAceitar()
    {
        ControlePartida.Troca_Aceitar();
        ControlePartidaStore.NotifyStateChanged();
    }

    private void HandleRecusar()
    {
        ControlePartida.Troca_Recusar();
        ControlePartidaStore.NotifyStateChanged();
    }
}
