@namespace MonopolyPaperMario.Components.Game.Board


<div class="board">
    <div class="board-center">
        <button @onclick="() => MovePlayer(0, 3)">Move Player 0 (3 steps)</button>
        <button @onclick="() => MovePlayer(5, 2)">Move Player 5 (2 steps)</button>
    </div>

    <div class="street" id="street-1">
        @{
            int tileIndex = 1;
        }
        @foreach (var tile in allStreetTiles.Take(9))
        {
            <div>
                <Tile DisplayCharacters="GetCharactersOnTile(tileIndex)">
                    <StreetTile Title="@tile.Title"
                                Color="@tile.Color"
                                Cost="@tile.Cost"
                                HousingLevel="@tile.HousingLevel">
                        @if (!string.IsNullOrEmpty(tile.IconPath))
                        {
                            <img class="street-tile-icon" src="@tile.IconPath" />
                        }
                    </StreetTile>
                </Tile>
            </div>
            tileIndex++;
        }
    </div>

    <div class="corner" id="corner-1-2">
        <Tile DisplayCharacters="GetCharactersOnTile(tileIndex)">
        </Tile>
    </div>

    <div class="street" id="street-2">
        @{
            tileIndex = 11;
        }
        @foreach (var tile in allStreetTiles.Skip(9).Take(9))
        {
            <div>
                <Tile DisplayCharacters="GetCharactersOnTile(tileIndex)">
                    <StreetTile Rotation="3"
                                Title="@tile.Title"
                                Color="@tile.Color"
                                Cost="@tile.Cost"
                                HousingLevel="@tile.HousingLevel">
                        @if (!string.IsNullOrEmpty(tile.IconPath))
                        {
                            <img class="street-tile-icon" src="@tile.IconPath" />
                        }
                    </StreetTile>
                </Tile>
            </div>
            tileIndex++;
        }
    </div>

    <div class="corner" id="corner-2-3">
        <Tile DisplayCharacters="GetCharactersOnTile(20)">
        </Tile>
    </div>

    <div class="street" id="street-3">
        @{
            tileIndex = 21;
        }
        @foreach (var tile in allStreetTiles.Skip(18).Take(9))
        {
            <div>
                <Tile DisplayCharacters="GetCharactersOnTile(tileIndex)">
                    <StreetTile Rotation="2"
                                Title="@tile.Title"
                                Color="@tile.Color"
                                Cost="@tile.Cost"
                                HousingLevel="@tile.HousingLevel">
                        @if (!string.IsNullOrEmpty(tile.IconPath))
                        {
                            <img class="street-tile-icon" src="@tile.IconPath" />
                        }
                    </StreetTile>
                </Tile>
            </div>
            tileIndex++;
        }
    </div>

    <div class="corner" id="corner-3-4">
        <Tile DisplayCharacters="GetCharactersOnTile(30)">
        </Tile>
    </div>

    <div class="street" id="street-4">
        @{
            tileIndex = 31;
        }
        @foreach (var tile in allStreetTiles.Skip(27).Take(9))
        {
            <div>
                <Tile DisplayCharacters="GetCharactersOnTile(tileIndex)">
                    <StreetTile Rotation="1"
                                Title="@tile.Title"
                                Color="@tile.Color"
                                Cost="@tile.Cost"
                                HousingLevel="@tile.HousingLevel">
                        @if (!string.IsNullOrEmpty(tile.IconPath))
                        {
                            <img class="street-tile-icon" src="@tile.IconPath" />
                        }
                    </StreetTile>
                </Tile>
            </div>
            tileIndex++;
        }
    </div>

    <div class="corner" id="corner-4-1">
        <Tile DisplayCharacters="GetCharactersOnTile(0)">
        </Tile>
    </div>
</div>


@code {
    private int[] playerPositions = new int[] { 0, 1, 1, 10, 25, 39 };
    private bool[] GetCharactersOnTile(int tileIndex)
    {
        var display = new bool[6];

        for (int i = 0; i < playerPositions.Length; i++)
        {
            if (playerPositions[i] == tileIndex)
            {
                display[i] = true;
            }
        }
        return display;
    }

    private void MovePlayer(int playerIndex, int steps)
    {
        if (playerIndex < 0 || playerIndex >= playerPositions.Length)
        {
            return;
        }

        int currentPosition = playerPositions[playerIndex];

        int newPosition = (currentPosition + steps) % 40;

        playerPositions[playerIndex] = newPosition;

        StateHasChanged();
    }

    public record class StreetTileData
    {
        public string Title { get; init; } = string.Empty;
        public string? Color { get; init; }
        public int? Cost { get; init; }
        public int? HousingLevel { get; init; }
        public string? IconPath { get; init; }
    }

    private readonly List<StreetTileData> allStreetTiles = new()
    {
        // Street 1
        new() { Title = "Goomba Village", Color = "var(--color-1)", Cost = 60, HousingLevel = 1 },
        new() { Title = "Baú Comunitário", IconPath = "assets/icon/gift-solid-full.svg" },
        new() { Title = "Koopa Village", Color = "var(--color-1)", Cost = 60, HousingLevel = 2 },
        new() { Title = "Taxa de Riquesa", Cost = 200, IconPath = "assets/icon/gem-solid-full.svg" },
        new() { Title = "Toad Town Train Station", Cost = 200, IconPath = "assets/icon/train-solid-full.svg" },
        new() { Title = "Mt Rugged", Color = "var(--color-2)", Cost = 100, HousingLevel = 5 },
        new() { Title = "Sorte ou Revés", IconPath = "assets/icon/question-solid-full.svg" },
        new() { Title = "Dry Dry Outpost", Color = "var(--color-2)", Cost = 100, HousingLevel = 3 },
        new() { Title = "Dry Dry Ruins", Color = "var(--color-2)", Cost = 120 },

        // Street 2
        new() { Title = "Boo's Mansion", Color = "var(--color-3)", Cost = 140 },
        new() { Title = "Big Lantern Ghost", Cost = 150 },
        new() { Title = "Gusty Gulch", Color = "var(--color-3)", Cost = 140 },
        new() { Title = "Tubba Blubba's Castle", Color = "var(--color-3)", Cost = 160 },
        new() { Title = "Toy Box Train", Cost = 200, IconPath = "assets/icon/train-solid-full.svg" },
        new() { Title = "Toad Town Tunnels", Color = "var(--color-4)", Cost = 180 },
        new() { Title = "Baú Comunitário", IconPath = "assets/icon/gift-solid-full.svg" },
        new() { Title = "Shooting Star Summit", Color = "var(--color-4)", Cost = 180 },
        new() { Title = "Shy Guy's Toybox", Color = "var(--color-4)", Cost = 200 },

        // Street 3
        new() { Title = "Yoshi's Village", Color = "var(--color-5)", Cost = 220 },
        new() { Title = "Sorte ou Revés", IconPath = "assets/icon/question-solid-full.svg" },
        new() { Title = "Jade Jungle", Color = "var(--color-5)", Cost = 220 },
        new() { Title = "Mt Lavalava", Color = "var(--color-5)", Cost = 240 },
        new() { Title = "Star Crusier", Cost = 200, IconPath = "assets/icon/train-solid-full.svg" },
        new() { Title = "Flower Fields", Color = "var(--color-6)", Cost = 260 },
        new() { Title = "Sun Tower", Color = "var(--color-6)", Cost = 260 },
        new() { Title = "Paper Mario Whale", Cost = 150 },
        new() { Title = "Cloudy Climb", Color = "var(--color-6)", Cost = 280 },

        // Street 4
        new() { Title = "Shiver City", Color = "var(--color-7)", Cost = 300 },
        new() { Title = "Starborn Valley", Color = "var(--color-7)", Cost = 300 },
        new() { Title = "Baú Comunitário", IconPath = "assets/icon/gift-solid-full.svg" },
        new() { Title = "Crystal Palace", Color = "var(--color-7)", Cost = 320 },
        new() { Title = "Trem", Cost = 200, IconPath = "assets/icon/train-solid-full.svg" },
        new() { Title = "Sorte ou Revés", IconPath = "assets/icon/question-solid-full.svg" },
        new() { Title = "Star Heaven", Color = "var(--color-8)", Cost = 350 },
        new() { Title = "Taxa de Riquesa", Cost = 100, IconPath = "assets/icon/gem-solid-full.svg" },
        new() { Title = "Bowser's Castle", Color = "var(--color-8)", Cost = 400 }
    };
}
